test.py
test.md
message.json
**/**/dev.py
.cursor
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.idea/
.vscode/
*.swp
*.swo
.DS_Store
logs/

scripts/*

datasets/*
datasets
